body {
	background-color: #FCFBE3;
	margin: 3px 15px 3px 15px;
}

header {
	font-weight: 400px;
	font-family: Georgia; sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
	background-color: #29293D;
	padding: 3px 0px 3px 0px;
}

h2 {
	margin-top: 25px;
	width: 200px;
}

h2 h3 {
	color: #29293D;
}

#image-col {
	width: 200px;
	display: inline;
	float: left;
	margin: 0px 20px 0px 25px;
}

#paragraph-col {
	width: 400px;
	float: left;
	display: inline-block;
	margin-right: 100px;
	margin-top: 85px;
}

#list-col {
	width: 300px;
	display: inline-block;
	padding-top: 0px;
	margin-top: 35px;
}

#list-word {
	font-weight: bold;
	display: inline;
}